/* variables */
:root {
    --dark-gray: #262D37;
    --medium-gray: #999;
    --light-gray: #EFF1F4;

    --primary-color: #0CF;
    
    --gradient-start: rgb(62,72,86);
    --gradient-end: rgb(92,106,123);
    
    --top-row-height: 70px;
    --left-col-width: 300px;    
    
    --border-radius: 8px;
  }

/* layout */
html {
    height: 100vh;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;    
    background: var(--light-gray);
    grid-template-rows: var(--top-row-height) 1fr auto;
    grid-template-columns: var(--left-col-width) 1fr;
    grid-template-areas: 
      "header header"
      "sidenav main"
      "footer footer";
}

header {
    grid-area: header;
    background: #FFF;
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

#logo {
    width: var(--left-col-width);
    background: var(--dark-gray);
    color: var(--primary-color);
    display: flex;
    align-items: center;    
    justify-content: center;
    font-weight: 800;
    font-size: 2em;
}

#mainnav {
    display: flex;
    align-items: center;
    margin: 0 2em;
}

/* breadcrumb */
.breadcrumb {
    display: flex;
    margin: 0 3rem 0 0;
    color: var(--medium-gray);
}

.breadcrumb li::after {
    content: ">";
    margin: 0 0.5rem
}

.breadcrumb li:last-child:after
{
  content: '';
}

.breadcrumb a:hover {
    color: var(--primary-color);
}

/* nav */
#sidenav {
    grid-area: sidenav;
    background: linear-gradient(180deg, var(--gradient-start) 0%, var(--gradient-start) 60%, var(--gradient-end) 100%);
    padding: 2em 0 0 0;
}

/* main */
main {
    grid-area: main;
    padding: 2em 2em;
}

/* footer */
footer {
    grid-area: footer;
    background: var(--gradient-start);
    color: #FFF;
    padding: 2em 2em 2em var(--left-col-width);
    display: flex;
    width: 100%;
}

footer div {
    width: 33%;
}

footer p {
    margin: 1.5em 0 0 0;
}

footer ul a {
    display: block;
    padding: 0.25rem 0;
}
footer ul a::before {
    content: ">";
    margin: 0 0.5em 0 0;
}

footer a:hover {
    color: var(--primary-color);
}

footer .typcn {
    font-size: 2rem;
}

/* left navigation */
#sidenav a {
    color: #FFF;
    display: block;
    padding: 1em 2em;
}

#sidenav a:hover {
    background: var(--dark-gray);
    color: var(--primary-color);
}

/* search */
form.search {
    display: flex;
    padding: 4px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
    color: #333;
}

form.search input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 8px 12px;
    font-size: 1rem;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    height: 2rem;
}

form.search input[type="search"]::placeholder {
    color: #666;
}

form.search button[type="submit"] {
    padding: 0 1rem;
    margin: 0;
    cursor: pointer;
    border-radius: inherit;
    font-size: 1.5rem;
    color: #666;
}

form.search button[type="submit"]:hover {
    color: #FFF;
    background-color: var(--primary-color);
}

form.search input[type="search"]:focus {
  outline: none;
}

/* sections */
section {
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    padding: 1em;
    margin: 0 0 1rem 0;
    border-radius: var(--border-radius);
}

section.table {
    padding: 0;
}

section.cta {
    background: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;    
}

section.cta h1,
section.cta h2 {
    color: #FFF;
}

/* buttons */
.button {
    display: block;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5em 2em;
    border-radius: var(--border-radius);
    text-transform: uppercase;
}

.button:hover {
    background: var(--primary-color);
    color: #FFF;
}

/* typography */
h1 {
    margin: 0 0 1.25rem 0;
    font-size: 2rem;
}

h2 {
    margin: 0 0 1.25rem 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0 0 1.25rem 0;
    font-size: 1.25rem;
}

h1 + h2 {
    margin-top: -0.75rem;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
}

/* tables */
table {
    width: 100%;
}

th {
    background: var(--dark-gray);
    color: #FFF;
    padding: 0.5rem 0.5rem;
}

td {
    padding: 0.75rem 0.5rem;
}

tr:nth-child(odd) td {
    background: var(--light-gray);
}

section.table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

section.table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

section.table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

section.table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

/* forms */
form {
    border: none;
}

.input-container {
    background: var(--light-gray);
    border-radius: var(--border-radius);
    border: 1px solid var(--medium-gray);
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 0 0 1rem 0;
    height: 3rem;
  }

input {
    border: 0;
    box-sizing: border-box;
    color: var(--dark-gray);
    outline: 0;
    width: 100%;
    height: 3rem;
    
}

.placeholder {
    color: var(--dark-gray);
    line-height: 0.75rem;
    left: 20px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-35px) translateX(-10px) scale(0.75);
}

input:not(:placeholder-shown) ~ .placeholder {
    color: var(--medium-gray);
}

input:focus ~ .placeholder {
    color: var(--dark-gray);
}