.table{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}
tr {
    cursor: pointer;
}
.titlePics{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.background-dark{
    background-color: #212529;
}
.background-light{
    background-color: #ffffff
}