#social-links>li{
    font-size: 1.5em;
}
.logo-dark{
    content: url(../../statics/logo-no-background.svg);
    width: 100%;
    stroke: none;
}
.logo-light{
    content: url(../../statics/logo-no-background.svg);
    width: 100%;
}
footer{
    bottom: 0;
    width: 100%;
}
.navbar-brand{
    margin: auto;
    display: block;
    max-width: 20%;
}
#dd_user{
    margin: auto;
    right: 0;
    left: auto;
}
